// StatisticsOnFlowers///////////////////////////////////////////////////

.statOnFlowers {
  // padding: 0;
  margin-bottom: 10px;
  > .row {
    // border: 1px solid #dce4f0;
    padding-bottom: 1rem;
    border-radius: 4px;
  }
  &_header {
    // height: 70px;
    display: flex;
    padding-left: 3rem !important;
    // justify-content: space-around;
    border-radius: 4px 4px 0 0;
    // background-color: #dce4f0;
    font-size: 1.2rem;
    &_form {
      width: 100%;
      display: flex;
      align-items: center;
      min-height: 70px;
    }
    &_interval {
      > span {
        margin-left: 20px;
        margin-right: 10px;
      }
      input {
        margin: 0;
        padding: 5px;
        height: auto;
        border-radius: 4px;
      }
      button {
        margin-left: 1rem;
      }
    }
    &_subtitle {
      min-width: 13rem;
      margin-bottom: 0 !important;
    }
    &_select {
      background-color: #2f89c5; //#0563af
      color: white;
      // padding: 0 12px;
      width: auto;
      height: auto;
      margin: auto 0;
      // border: none;
      font-size: 1.2rem;
      // box-shadow: 0 5px 15px #ffe9a5;
      // -webkit-appearance: button;
      // appearance: button;
      outline: none;
      option {
        padding: 30px;
      }
    }
  }
  &_body {
    height: auto;
    padding-top: 10px;
    &_children {
      height: 19rem;
    }
  }
}
