/* Regular @import url statements work as you'd expect them to -- alternatively
you can import locally, and they wind up in the resulting bundle */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Gentium+Basic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import "~react-id-swiper/lib/styles/css/swiper.css";
@import "variables";
@import "mixins";
@import "forms";
@import "project-card";
@import "modal";
@import "header";
@import "button";
@import "footer";
@import "rules";
@import "filter";
@import "section-for-participant";
@import "pagination";
@import "jsonSchemaForm";
@import "loader";
@import "dashboard";
@import "adminDownloadCSVModal";
@import "adminDownloadDashboardModal";
@import "adminMenu";
@import "adminRequestModal";
@import "statOnFlowers";
@import "topFive";
@import "userChartsForAdmin";
@import "grid.min.css";
@import "leaflet/dist/leaflet";
@import "~react-datepicker/dist/react-datepicker.css";

html {
  height: 100%;
  background-color: #fdfbfc;
  padding: 0;
  border: 0;
  font-family: "Gentium Basic", serif;
  font-size: 16px;
  position: relative;

  body {
    height: 100%;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &.hidden {
      overflow: hidden;
    }
  }

  #root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  button {
    border: none;
    &:hover {
      cursor: pointer;
    }
  }

  /* We can nest rules, thanks to SASS */
  // li {
  //   font-size: 1rem;
  // }

  .img-wrapper {
    overflow: hidden;
  }
  .img-fluid {
    max-width: 100%;
    // height: auto;
    height: 100%;
    object-fit: cover;
  }
}

.section_title {
  font-size: 3.125rem;
  font-weight: normal;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  margin-bottom: 1.3rem;
  text-align: center;
  color: $gray-color;
  text-transform: uppercase;
  &.nomination {
    font-size: 2.5rem;
  }
  @media (max-width: 576px) {
    font-size: 2.125rem;
  }
}
.section_text {
  font-size: 1rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  margin-bottom: 1rem;
  line-height: 1.6rem;
  text-align: left;
  color: $gray-color;
  a {
    color: #4498bf;
    text-decoration: none;
  }
}
.ta-c {
  text-align: center;
}

.ff {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial;
}

.mapWithRequest {
  display: flex;
  justify-content: center;
  height: 600px;
  width: 100%;
  @media (max-width: 576px) {
    height: 450px;
  }
}

.admin_title {
  font-size: 2rem;
  font-weight: normal;
  // font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial,
  //   sans-serif;
  margin-bottom: 1.3rem;
  text-align: center;
  // color: $gray-color;
  text-transform: uppercase;
  margin: 0.4rem auto;
}

.admin_subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #656565;
}
